unit_test/
__pycache__/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/webui/node_modules
/webui/zimular_ui/node_modules
/webui/.pnp
/webui/.pnp.js
/webui/.yarn/install-state.gz

# testing
/webui/zimular_ui/coverage

# next.js
/webui/zimular_ui/.next/
/webui/zimular_ui/out/

# production
/webui/zimular_ui/build

# misc
/webui/zimular_ui/.DS_Store
/webui/zimular_ui/*.pem

# debug
/webui/zimular_ui/npm-debug.log*
/webui/yarn-debug.log*
/webui/yarn-error.log*

# local env files
/webui/.env*
/webui/.local

/webui/zimular_ui/.env*
/webui/zimular_ui/.local

# vercel
/webui/zimular_ui/.vercel

# typescript
/webui/*.tsbuildinfo
/webui/zimular_ui/*.tsbuildinfo
/webui/zimular_ui/next-env.d.ts
